@import url("https://fonts.googleapis.com/css?family=Bree+Serif");

body {
  font-family: 'Bree Serif', serif;
  background-color: #076324;
  margin-left: 5%;
  margin-right: 5%;
}

p {
  font-size: 17px;
  text-align: center;
  color: white;
}
.stats {
  height: 10vh;
}

.controls {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 80vh;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 80vh;
}

.card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px;
  margin-left: 3px;
  margin-right: 3px;
}

.card--hidden {
  visibility: hidden;
}

.card--selected {
  background-color: black;
}

.card--unselected {
  background-color: #8d0000;
}

button {
  font-family: 'Bree Serif', serif;
  background-color: black;
  color: white;
  width: 30vh;
}
